<div id="<%= dom_id order %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <%= link_to "Show this order", order %>
  </p>
</div>
